extends layout

block content
	//- Fluid hero image
	tr: td(valign="middle" align="center")
		img(src="http://placehold.it/600x300" alt="alt text" height="300" width="600" align="center" border="0" style="margin: auto;" class="fluid")
	
	//- Full-width text column
	tr: td.fluid-row(style="font-family: #{baseFontFamily}; color: #{baseFontColor}")
		| Ulla nec est tristique, tempor lacus eu, aliquam erat. Cras tristique, arcu ac tristique hendrerit, urna diam mollis libero, vitae gravida nisi lectus in leo. Aenean eu ligula id nisi euismod dapibus et eu mauris. Donec quis dictum velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

	//- Two responsive columns
	tr: td
		table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center")
			tr: td(style="padding: 0 4%;")
				table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center")
					tr
						//- First column
						td.stack-column(valign="top" width="48%" style="padding: 4% 0; font-family: #{baseFontFamily}; color: #{baseFontColor};")
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						
						td.stack-column(width="4%" height="4%") &nbsp;

						//- Second column
						td.stack-column(valign="top" width="48%" style="padding: 4% 0; font-family: #{baseFontFamily}; color: #{baseFontColor};")
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.


	//- Two responsive columns with thumbnails and buttons
	tr: td
		table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center")
			tr: td(style="padding: 0 4%;")
				table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center")
					tr
						//- First column
						td.stack-column(valign="top" width="48%" style="padding: 4% 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; text-align: center;")
							img(src="http://placehold.it/160" alt="alt text" height="160" width="160" border="0" align="center")
							br
							br
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
							br
							br
							//- Button example
							table(cellspacing="0" cellpadding="0" border="0" align="center" class="button" style="margin: auto;")
								tr
									td(style="border-radius: 3px; background: #222222; text-align: center;")
										a(href="http://www.google.com" style="background: #222222; border: 15px solid #222222; padding: 0 10px; color: #ffffff; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1; text-align: center; text-decoration: none; display: block; border-radius: 3px;")
											b<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->A Button<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->
						
						td.stack-column(width="4%" height="4%") &nbsp;

						//- Second column
						td.stack-column(valign="top" width="48%" style="padding: 4% 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; text-align: center;")
							img(src="http://placehold.it/160" alt="alt text" height="160" width="160" border="0" align="center")
							br
							br
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
							br
							br
							//- Button example
							table(cellspacing="0" cellpadding="0" border="0" align="center" class="button" style="margin: auto;")
								tr
									td(style="border-radius: 3px; background: #222222; text-align: center;")
										a(href="http://www.google.com" style="background: #222222; border: 15px solid #222222; padding: 0 10px; color: #ffffff; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1; text-align: center; text-decoration: none; display: block; border-radius: 3px;")
											b<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->A Button<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->

	//- Thumbnail + text
	tr: td(style="padding: 4%;")
		table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center" dir="ltr")
			tr
				td.stack-column-center(valign="top" width="160" dir="ltr")
					img(src="http://placehold.it/160" alt="alt text" height="160" width="160" border="0" align="center")
				
				td.stack-column(width="4%" height="4%") &nbsp;
				
				td.stack-column-center(valign="top" style="font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; text-align: left;" dir="ltr")
					| Ulla nec est tristique, tempor lacus eu, aliquam erat. Cras tristique, arcu ac tristique hendrerit, urna diam mollis libero, vitae gravida nisi lectus in leo.
					br
					br
					| Aenean eu ligula id nisi euismod dapibus et eu mauris. Donec quis dictum velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

	//- Text + thumbnail
	tr: td(style="padding: 4%;")
		table(border="0" width="100%" cellpadding="0" cellspacing="0" align="center" dir="ltr")
			tr
				td.stack-column-center(valign="top" style="font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; text-align: left;" dir="ltr")
					| Ulla nec est tristique, tempor lacus eu, aliquam erat. Cras tristique, arcu ac tristique hendrerit, urna diam mollis libero, vitae gravida nisi lectus in leo.
					br
					br
					| Aenean eu ligula id nisi euismod dapibus et eu mauris. Donec quis dictum velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
					
				td.stack-column(width="4%" height="4%") &nbsp;
				
				td.stack-column-center(valign="top" width="160" dir="ltr")
					img(src="http://placehold.it/160" alt="alt text" height="160" width="160" border="0" align="center")

	//- Data table
	tr: td(width="92%" style="padding: 4%;")
		table(cellspacing="0" cellpadding="0" border="0" width="100%")
			tr
				td.data-table-th(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; font-weight: bold; border-bottom: 1px solid #cccccc')
					| Name
				td.data-table-th(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; font-weight: bold; border-bottom: 1px solid #cccccc')
					| Date
				td.data-table-th(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; font-weight: bold; border-bottom: 1px solid #cccccc')
					| Location
			tr
				td.data-table-td-title(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| Event Name
				td.data-table-td(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| 1-Jan-2014
				td.data-table-td(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| New York, NY
				td.data-table-mobile-divider(style='display: none;')  
			tr
				td.data-table-td-title(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| Another Name
				td.data-table-td(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| 8-Jul-2014
				td.data-table-td(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| Phoenix, AZ
				td.data-table-mobile-divider(style='display: none;')  
			tr
				td.data-table-td-title(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| A Third Name
				td.data-table-td(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| 21-Dec-2014
				td.data-table-td(valign='top', align='left', style='padding: 10px 0; font-family: #{baseFontFamily}; font-size: 15px; line-height: 1.3; color: #{baseFontColor}; border-bottom: 1px solid #eeeeee')
					| Seattle, WA
				td.data-table-mobile-divider(style='display: none;')  
