doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		//- Forcing initial-scale shouldn't be necessary
		meta(name="viewport" content="width=device-width")
		//- Use the latest (edge) version of IE rendering engine
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title !{title}
		link(rel='stylesheet' href='reset.css')
		link(rel='stylesheet' href='style.css')
		
		| $retainedStyles

	body(leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" border="0" bgcolor="#{backdropColor}")
		table(border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" bgcolor="#{backdropColor}" style="border-collapse:collapse;")
			tr
				td
					//- (Optional) This text will appear in the inbox preview, but not the email body.
					if previewText
						.hiddenPreview= previewText
					
					//- Email content wrapper
					table.email-container(border="0" width="#{emailWidth}" cellpadding="0" cellspacing="0" align="center" style="width:#{emailWidth}px; margin: auto;")
						tr: td
							
							//- SECTION: Logo + link
							//- table(border='0', width='100%', cellpadding='0', cellspacing='0')
							//- 	tr: td(height='5', style='font-size: 0; line-height: 0;')  
							//- 	tr
							//- 		td.stack-column-center(valign='middle', width='150', style='padding:5px 0; text-align:left; line-height: 1;')
							//- 			img(src='http://placehold.it/150x50', alt='alt text', width='150', height='50', border='0', style='display: block; margin: auto;')
							//- 		td.stack-column-center(valign='middle', style='padding:5px 0; text-align:right; line-height:1.1; font-family:#{headingFontFamily}; font-size: 13px; color: #{mutedFontColor};')
							//- 			| A mobile-friendly template with media queries.
							//- 	tr: td(height='5', style='font-size: 0; line-height: 0;')
								
							//- *** Email body ***
							table(border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#{backgroundColor}" style="background-color: #{backgroundColor}")
								block content
