<tr>
  <td width="92%" style="padding: 4%">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td class="data-table-th" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; font-weight: bold; border-bottom: 1px solid #cccccc">Name</td>
        <td class="data-table-th" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; font-weight: bold; border-bottom: 1px solid #cccccc">Date</td>
        <td class="data-table-th" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; font-weight: bold; border-bottom: 1px solid #cccccc">Location</td>
      </tr>
      <tr>
        <td class="data-table-td-title" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">Event Name</td>
        <td class="data-table-td" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">1-Jan-2014</td>
        <td class="data-table-td" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">New York, NY</td>
        <td class="data-table-mobile-divider" style="display: none"></td>
      </tr>
      <tr>
        <td class="data-table-td-title" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">Another Name</td>
        <td class="data-table-td" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">8-Jul-2014</td>
        <td class="data-table-td" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">Phoenix, AZ</td>
        <td class="data-table-mobile-divider" style="display: none"></td>
      </tr>
      <tr>
        <td class="data-table-td-title" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">A Third Name</td>
        <td class="data-table-td" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">21-Dec-2014</td>
        <td class="data-table-td" valign="top" align="left" style="padding: 10px 0; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1.3; color: {{ baseFontColor }}; border-bottom: 1px solid #eeeeee">Seattle, WA</td>
        <td class="data-table-mobile-divider" style="display: none"></td>
      </tr>
    </table>
  </td>
</tr>
