<tr bgcolor="{{ brandPrimary }}">
  <td style="text-align:center; padding:4% 0; font-family:{{ baseFontFamily }}; font-size:13px; line-height:1.2; color:{{ contrastingFontColor }}">Is this email not displaying correctly? Try the
    <webversion style="color:{{ contrastingFontColor }}; text-decoration:underline">web version</webversion>. Not interested anymore?
    <unsubscribe style="color:{{ contrastingFontColor }}; text-decoration:underline">Unsubscribe instantly</unsubscribe>.</td>
</tr>
