{{#if header}}
<tr bgcolor="{{ brandPrimary }}">
  <td style="text-align:center; padding:4%; font-family:{{ headingFontFamily }}; font-size:13px; line-height:1.2; color:{{ contrastingFontColor }}">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" dir="ltr">
      <tr>
        {{#if header.image}}
        <td class="stack-column-center" valign="top" width="160" dir="ltr"><img src="{{header.image.src}}" alt="{{header.image.alt_text}}" width="160" height="80" border="0" align="center" /></td>
        {{/if}}
        <td class="stack-column" width="4%" height="4%">&nbsp;</td>
        <td class="stack-column" valign="top">
          <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" dir="ltr">
            {{#if header.text}}
            <tr>
              <td class="stack-column" align="left">
                <p style="font-size:18px; font-weight:bold; margin:0">{{header.text}}</p>
              </td>
            </tr>
            {{/if}}
            {{#if header.date}}
            <tr>
              <td class="stack-column" align="right">{{header.date}}</td>
            </tr>
            {{/if}}
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
{{/if}}
