<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <link rel="stylesheet" href="reset.css" />
  <link rel="stylesheet" href="style.css" />$retainedStyles</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" border="0" bgcolor="{{ backdropColor }}">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" bgcolor="{{ backdropColor }}" style="border-collapse:collapse">
    <tr>
      <td>
        <table class="email-container" border="0" width="{{ emailWidth }}" cellpadding="0" cellspacing="0" align="center" style="width:{{ emailWidth }}px; margin: auto">
          <tr>
            <td>
              <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="{{ backgroundColor }}" style="background-color: {{ backgroundColor }}">
