{{#if text_call_to_action}}
<tr>
  <td class="fluid-row" style="font-family: {{ baseFontFamily }}; color: {{ contrastingFontColor }}; background-color: {{ brandPrimary }}">
    {{text_call_to_action.text}}
    <br/><br/>

    <table class="button" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto">
      <tr>
        <td style="border-radius: 3px; background: {{ brandPrimary }}; text-align: center"><a href="{{text_call_to_action.button.link}}" style="background: {{ brandPrimary }}; border: 1px solid {{ backgroundAltColor }}; padding: 15px 25px; color: {{ contrastingFontColor }}; font-family: {{ baseFontFamily }}; font-size: 15px; line-height: 1; text-align: center; text-decoration: none; display: block; border-radius: 3px"><b><!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->{{text_call_to_action.button.text}}<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]--></b></a></td>
      </tr>
    </table>
  </td>
</tr>
{{/if}}
